.Card {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.75px solid rgba(109, 113, 181, 0.75);
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
  color: rgba(225, 226, 238);
  font-family: "Rajdhani", sans-serif;
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Card:hover {
  color: rgba(0, 0, 0);
  background-color: rgba(225, 226, 238, 0.5);
}

#image {
  height: 50%;
  width: 50%;
  /* position: absolute; */
  /* padding-bottom: 5px; */
  border-radius: 10px;
}
