.Header .header-logo {
<<<<<<< HEAD
  height: auto;
  width: 300px;
  display: inline-block;
}

.Header {
  display: flex;
  justify-content: center;
}
=======
    height: auto;
    width: 300px;
    display: inline-block;
}
>>>>>>> 12239751ecf2496170d192775a10a03357b741a9
